@import url("https://fonts.cdnfonts.com/css/poppins");
.root {
  display: flex;
  flex-direction: column;
  background: url("../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

.header {
  display: flex;
  height: 70px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background: #00000000;
  backdrop-filter: blur(6px);
  z-index: 999;
  color: white;
  box-shadow: 2px 2px 16px 1px #000000;
  font-size: 2.5rem;
  font-family: "Poppins";
}

.title {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.version {
  display: block;
  padding: 4px 6px;
  font-size: 10px;
  line-height: 1;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.wrapper {
  flex: 1;
}

.tree {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

.reset {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
}

.details {
  position: absolute;
  left: 10px;
  top: 60px;
}
.mainFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mainForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  font-family: "Poppins";
  text-align: center;
  box-shadow: 0px 0px 5px 5px rgba(82, 82, 82, 0.68);
}
.mainForm > input {
  margin: 0.7rem 0.6rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  height: 35px;
  font-size: 1rem;
  color: white;
  padding-left: 0.5rem;
}
.mainForm > select {
  margin: 0.7rem 0.6rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  height: 35px;
  font-size: 1rem;
  color: white;
  padding-left: 0.5rem;
}
.mainForm > button {
  margin: 0.5rem;
  margin-top: 1rem;
  background: #576163;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-family: "Poppins";
}

.mainForm > button:hover {
  background: #829295;
}

.mainForm > button:active {
  background: #242728;
}
